.logo-custom {
    width: 90px;  /* Ajusta el tamaño del logo */
    height: auto;  /* Mantiene la proporción original */
    display: block; /* Evita cualquier limitación del contenedor */
    margin-top: -5px; /* Ajuste para centrar la imagen si es necesario */
    margin-bottom: -5px; /* Evita que haya mucho espacio debajo del logo */
  }
  
