extends index.pug

block content
  .container.text-center
    .row
      .col-md-12
        h1.display-1.text-danger 404
        h2.text-muted La página que buscas no existe
        p.lead Lo sentimos, no pudimos encontrar la página que estabas buscando.
        a.btn.btn-primary(href='/') Volver al inicio
