extends index 

block content
  .home-container
    // Imagen de fondo y contenedor de contenido
    .overlay
      .content
        h1.school-name Escuela Italiana
        p.tagline "La excelencia en educación desde 1900"
        



